%p= t('event.lists.popover_bsv_export.export_info')

= standard_form(:bsv_export,
                url: :list_courses_bsv_export,
                method: :get,
                stacked: true,
                builder: PlainObjectFormBuilder) do |f|

  / have to pass group_id for filtering to work
  = hidden_field_tag(:group_id, group_id)
  = hidden_field_tag(:advanced, true) if defined?(advanced) && advanced

  = f.labeled(t('event.lists.popover_bsv_export.event_kinds'), help: 'f00') do
    = f.has_many_field(:event_kinds, list: Event::Kind.includes(:translations).without_deleted)
    = f.help_block do
      %span.muted= t('event.lists.popover_bsv_export.event_kinds_hint')

  = f.labeled(t('event.lists.popover_bsv_export.date_from')) do
    = f.date_field(:date_from, value: f(Date.today.beginning_of_year))

  = f.labeled(t('event.lists.popover_bsv_export.date_to')) do
    = f.date_field(:date_to, value: f(Date.today.end_of_year))

  = form_buttons(f, submit_label: t('event.lists.bsv_export_button'), cancel_url: :list_courses)

:javascript
  (function() {
    $('body').on('click', '.popover :submit', function(e) {
      return setTimeout((function() {
        return $('a[data-toggle=popover]').popover('hide');
      }), 100);
    });
  });
