= Dropdown::Event::ParticipantAdd.for_user(self, @group, entry, current_user)
= button_action_edit if can?(:update, entry)
= button_action_destroy if can?(:destroy, entry)
- if can?(:new, entry)
  = action_button(t('events.global.link.duplicate'),
                  new_group_event_path(@group, source_id: entry.id),
                  :book)
= export_events_ical_button
- if can?(:update, entry)
  = action_button(t('.copy_share_link'),
                  shared_access_token_event_url(@group, entry),
                  :copy,
                  class: 'btn', data: { copy_to_clipboard: shared_access_token_event_url(@group, entry) })

= render_extensions :actions_show
