#main.row
  %article.col-lg-7
    = render 'attrs_primary'

    = render_extensions 'show_left'

  %aside.col-lg-5
    = render 'attrs_contact'

    - if entry.participant_types.present?
      = render 'attrs_application'

    = render_extensions 'show_right'

