-#  Copyright (c) 2012-2015, Pfadibewegung Schweiz. This file is part of
-#  hitobito_youth and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_youth.

- title @group.to_s

- content_for(:filter, FilterNavigation::People.new(self, @group, @person_filter).to_s)


#main
  %p
    .legend.is-inline
      .legend-title.pt-3= t('.legende')
      .legend-list
        .legend-item.pt-3= t('.valid')
        .legend-item.pt-3.text-warning= t('.valid_until_end_of_year')
        .legend-item.pt-3.muted= t('.can_be_reactivated')


  .pagination-bar
    = paginate @people

    .pagination-info
      - if @person_filter.all_count > 0
        = t('people.list.number_of_people_shown', count: @people.total_count)
        - unless @person_filter.all_count == @people.total_count
          = muted(t('people.list.number_of_people_hidden', count: @person_filter.all_count - @people.total_count))
      - else
        = ti(:no_list_entries)

  - if @people.total_count > 0
    = table(@people, class: 'table table-striped') do |t|
      - t.col(Person.model_name.human) do |person|
        %strong
          = link_to(person.to_s(:list),
                    @person_filter.multiple_groups ? group_person_path(person.default_group_id, person) : group_person_path(@group, person))
      - t.col(Qualification.model_name.human(count: 2)) { |person| joined_qualification_kind_labels(person) }
      - t.col(Event::Application.model_name.human(count: 2)) { |person| joined_event_participations(person) }
      - t.col(Person.human_attribute_name(:birthday)) { |person| format_attr(person, :birthday) }

= paginate @people
