.control-group
  = label_tag('event_participation_contact_data_first_name', t('.manager_first_name'), class: 'control-label')
  .controls
    = f.input_field :first_name
.control-group
  = label_tag('event_participation_contact_data_last_name', t('.manager_last_name'), class: 'control-label')
  .controls
    = f.input_field :last_name
= f.labeled_input_field :nickname if Person::PUBLIC_ATTRS.include?(:nickname)
= f.labeled_input_fields :company_name
= f.labeled_input_field :email, help_inline: t('people.email_field.used_as_login')
= render_extensions :additional_person_fields, locals: { fields: f }
