-#  Copyright (c) 2023, CEVI Schweiz, Pfadibewegung Schweiz,
-#  Jungwacht Blauring Schweiz, Pro Natura, Stiftung für junge Auslandschweizer.
-#  This file is part of hitobito_youth and
-#  licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_youth.

- title t(".title.#{manager ? 'manager' : 'participant'}")

- unless self_service_managed_enabled?
  = render 'event/participations/step_wizard', step: 1

- return_url = FeatureGate.enabled?('people.people_managers') ? group_event_path(group, event) : new_group_event_participation_path(group, event)

= crud_form(entry,
            url: register_group_event_path(group, event),
            method: :put,
            cancel_url: register_group_event_path(group, event),
            buttons_bottom: true,
            buttons_top: false) do |f|
  = hidden_field_tag(:manager, manager)
  = hidden_field_tag(:return_url, return_url)

  - if manager
    = render 'manager_fields', f: f
  - else
    = render 'event/participation_contact_datas/form', f: f

  = f.honeypot(:verification)
